*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#first_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    margin: 0 5px;
    list-style: none;
}